<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EstoqueExpress</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/icons/bootstrap-icons.min.css">
    <link rel="icon" type="image/png" href="/img/icon.png">
    <style>
    @media (max-width: 991.98px) {
    .borda { border-top: 1px solid white;}
    .bordadown { border-bottom: 1px solid white; }
    }
    </style>
</head>
<body>
    <%- include('../partials/nav') %>
    
    <!-- Header-->
    <header style="padding-top: 20px; padding-bottom: 20px;" class="bg-dark">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white mb-2">Um novo jeito de organizar seu negocio</h1>
                        <p class="lead text-white-50 mb-4">Rapidamente gerenciar seu estoques com EstoqueExpress</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3 text-nowrap" href="/empresa/entrar">Área da empresa</a>
                            <a class="btn btn-primary btn-lg px-4 me-sm-3 text-nowrap" href="/estoques">Área do cliente</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Features section-->
    <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-2">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">Nosso Compromisso</h2>
                    <p>Sua solução digital para gestão de estoques de forma simples, rápida e eficiente. Nossa missão é facilitar o controle de inventário, proporcionando uma experiência prática para que você possa focar no que realmente importa: fazer seu negócio crescer.</p>
                    
                </div>
                <div class="col-lg-4 mb-5 mb-lg-2">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                    <h2 class="h4 fw-bolder">Mais que uma Ferramenta</h2>
                    <p>Queremos ser mais do que uma ferramenta de gestão, queremos ser seu parceiro na otimização do seu negócio, ajudando você a manter tudo sob controle, evitando desperdícios e perdas de tempo.</p>
                    
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                    <h2 class="h4 fw-bolder">Simples e Eficiente</h2>
                    <p>Nosso compromisso é com a simplicidade e eficiência. Seja você dono de uma pequena loja, um armazém, ou até mesmo quem precisa gerenciar estoques pessoais, a EstoqueExpress está aqui para trazer clareza e organização ao seu dia a dia.</p>                    
                </div>
                <div class="col-12 my-5">
                    <a class="btn bg-dark w-100 btn-outline-light btn-lg px-4 text-nowrap" href="/sobrenos">Descubra sobre nós</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing section-->
    <section class="bg-light py-5 border-bottom">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Pague se quiser</h2>
                <p class="lead mb-0">Sem obrigação de assinar para usar a plataforma completamente</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <!-- Pricing card free-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold text-muted">Free</div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold">R$0</span>
                                <span class="text-muted"></span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Perfil gratuito
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Acesso total a plataforma 
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Dados salvos como preferencia e favoritos
                                </li>
                                <!--
                                    <li class="text-muted">
                                        <i class="bi bi-x"></i>
                                        Monthly status reports
                                    </li>
                                -->
                            </ul>
                            <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Choose plan</a></div>
                        </div>
                    </div>
                </div>
                <!-- Pricing card pro-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold">
                                <i class="bi bi-star-fill text-warning"></i>
                                Doador
                            </div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold">R$10</span>
                                <span class="text-muted">/ unico.</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    <strong>Tudo no plano anterior</strong>
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Suporte do time diretamente
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Prioridade na lista de novas novidades
                                </li>
                            </ul>
                            <div class="d-grid"><a class="btn btn-primary" href="#!">Choose plan</a></div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    <!-- Footer-->
    <%- include('../partials/footer') %>

    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>