<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acessar conta</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/preloader.css">
    <link rel="icon" type="image/png" href="/img/icon.png">
    <style>
      @media (max-width: 991.98px) {
      .largura { width: 100%;}
      }
      @media (min-width: 992px) {
      .larguradesktop{ width: 40%; }
      }
      html,body{
        height: 100%;
      }
    </style>
</head>
<body style="display: none; background-image: url(/img/leaves.webp);" class="d-flex flex-column text-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid px-5 d-flex align-items-center">
        <div class="d-flex align-items-center">
            <a class="navbar-brand" href="#!">
                <img class="img-fluid" src="/img/logo.svg" style="width: 300px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto m-2 mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active borda" aria-current="page" href="/">Inicio</a></li>
                <li class="nav-item"><a class="nav-link borda" href="/entrar">Login</a></li>
                <li class="nav-item"><a class="nav-link borda bordadown" href="/sobrenos">Sobre nós</a></li>
            </ul>
        </div>
    </div>
</nav>

<main style="background-color: #303030;" class="container larguradesktop largura p-5 my-4 flex-grow-1">
   <!-- Pills navs -->
  <ul style="cursor: pointer;" class="nav nav-pills nav-justified mb-5 bg-dark text-white">
    <li class="nav-item">
      <a class="nav-link active" id="tab-login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-register">Registrar</a>
    </li>
  </ul>
 
  <!-- Pills content -->
  <div class="tab-content">
    <div class="tab-pane show active" id="pills-login">
      <form action="/api/login" method="POST">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="loginName">Email</label>
          <input type="email" id="loginName" name="email" class="form-control" />
        </div>
  
        <!-- Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="loginPassword">Senha</label>
          <input type="password" id="loginPassword" name="password" class="form-control" />
        </div>
  
        <!-- 2 column grid layout -->
        <div class="row mb-4">
          
          <div class="col-md d-flex justify-content-center">
            <!-- Simple link -->
            <a href="#!">Esqueceu a senha?</a>
          </div>
        </div>
  
        <!-- Submit button -->
        <div class="text-center mb-4">
          <button type="submit" class="btn btn-primary">Fazer login</button>
        </div>
        <% if (resultado.contaL) { %>
          <% resultado.contaL.forEach(function(conta) { %>
            <div class="alert alert-danger mt-3" role="alert">
              <%= conta %>
            </div>
        <% });} %>
      </form>
    </div>
    
    <div class="tab-pane" id="pills-register">
      <form action="/api/register" method="POST">
        <!-- Name input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="registerName">Nome</label>
          <input type="text" id="registerName" name="name" class="form-control" />
        </div>
  
        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="registerEmail">Email</label>
          <input type="email" id="registerEmail" name="email" class="form-control" />
        </div>
  
        <!-- Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="registerPassword">Senha</label>
          <input type="password" id="registerPassword" name="password" class="form-control" />
        </div>
  
        <!-- Repeat Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="registerRepeatPassword">Senha novamente</label>
          <input type="password" id="registerRepeatPassword" name="password_confirmation" class="form-control" />
        </div>
        
        <!-- Submit button -->
        <div class="text-center mb-4">
          <button type="submit" class="btn btn-primary">Fazer cadastro</button>
        </div>
        <% if (resultado.contaR) { %>
          <% resultado.contaR.forEach(function(conta) { %>
            <div class="alert alert-danger mt-3" role="alert">
              <%= conta %>
            </div>
        <% });} %>
        <% if (resultado.email) { %>
          <% resultado.email.forEach(function(email) { %>
            <div class="alert alert-danger mt-3" role="alert">
              <%= email %>
            </div>
        <% });} %>
        <% if (resultado.password) { %>
          <% resultado.password.forEach(function(passwd) { %>
            <div class="alert alert-danger mt-3" role="alert">
              <%= passwd %>
            </div>
        <% });} %>
      </form>
    </div>
  </div>
</main>

<footer class="py-4 bg-dark border-top">
  <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; EstoqueExpress 2024</p></div>
</footer>
<div id="carregamento"></div>
<script src="/js/bootstrap.bundle.js"></script>
<script>
  const preloader = document.querySelector('#carregamento');
  if (preloader) {
    window.addEventListener('DOMContentLoaded', () => {
      preloader.remove();
    });
  }

  document.addEventListener("DOMContentLoaded", function () {
    const tabLogin = document.getElementById("tab-login");
    const tabRegister = document.getElementById("tab-register");
    const pillsLogin = document.getElementById("pills-login");
    const pillsRegister = document.getElementById("pills-register");

    // Função para mostrar a aba de Login
    tabLogin.addEventListener("click", function (event) {
      event.preventDefault(); 
      // Alterar classes para tornar a aba de login ativa
      tabLogin.classList.add("active");
      tabRegister.classList.remove("active");

      // Mostrar o conteúdo de Login e esconder o de Register
      pillsLogin.classList.add("show", "active");
      pillsRegister.classList.remove("show", "active");
    });

    // Função para mostrar a aba de Register
    tabRegister.addEventListener("click", function (event) {
      event.preventDefault();
      // Alterar classes para tornar a aba de registro ativa
      tabRegister.classList.add("active");
      tabLogin.classList.remove("active");

      // Mostrar o conteúdo de Register e esconder o de Login
      pillsRegister.classList.add("show", "active");
      pillsLogin.classList.remove("show", "active");
    });
  });
</script>
</body>
</html>