<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu principal</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/icons/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/aparecer.css">
    <link rel="icon" type="image/png" href="/img/icon.png">
</head>
<body style="background-image: url(/img/dot.webp);" class="d-flex flex-column min-vh-100">
  
<%- include('partials/nav-logged') %>

<main class="container flex-grow-1 my-4">
  <div class="container">
    <div id="objetoContainer" class="row justify-content-center">  
      <div class="col-md-12 mb-4 produto">
        <div class="card animar-criacao text-center">
          <div class="card-body">
            <h4 class="card-title"> Crie seu estoque</h4>
            <p class="card-text">Faça um novo estoque para os seus produtos</p>
            <form id="criarEstoque">
              <div class="input-group">
                <div class="form-floating">
                  <input aria-label="Titulo" aria-describedby="basic-addon2" placeholder="titulo" id="loginPassword" class="form-control" required type="text" name="titulo">
                  <label for="titulo">Nome do estoque</label>
                </div>
                <button type="submit" class="btn btn-primary">Criar estoque</button>
              </div>
              <div class="popup" id="popup"></div>
            </form>
          </div>
        </div>
      </div>
      <% if (estoques) { %>
        <% estoques.forEach(function(nome){ %>
          <div class="col-md-3 mb-4 produto">
          <div class="card animar-criacao text-center">
            <div class="card-body">
                <h4 class="card-title"> <%= nome.titulo %> </h4>
                <p style="display: none;" id="id"> <%= nome._id %> </p>
                <p class="card-text">Acesse seu estoque aqui</p>  
                <button class="btn btn-success tabela">Entrar</button>
                <button class="btn btn-danger remover">Remover</button>
            </div>
          </div>
          </div>
      <% })}; %>
    </div>
  </div>
</main>

<%- include('partials/footer') %>

<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/menu.js"></script>
</body>
</html>