<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EverythingAtOnce - CRUD TEST</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body class="bg-gray-100">
    <header class="bg-primary text-white p-4">
        <div class="container">
            <h1 class="h1 fw-bold">Site do André</h1>
            <p class="medium">Bem-vindo ao meu formulário legal</p>
        </div>
    </header>

    <main>
        <div class="container mt-5">
            <div class="card">
                <h5 class="card-header">Redirencionamento</h5>
                <div class="card-body">
                  <h5 class="card-title">Aqui é somente um teste para o banco de dados continue para a proxima pagina no botao abaixo</h5>
                  <a href="/inicio" class="btn btn-primary mt-3">Clique aqui</a>
                </div>
              </div>
        </div>
        <section class="mt-5">
            <div class="container mt-5">
                <h1>Create</h1>
                <form id="userSave" class="row p-5 bg-light">
                    <!-- Campo Nome -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="nome" class="form-label">Nome completo</label>
                            <input type="text" class="form-control" name="name" id="name" required placeholder="Digite seu nome">
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="email" class="form-label">E-mail</label>
                            <input type="email" class="form-control" name="email" id="email" required  placeholder="Digite seu e-mail">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="password" class="form-label">Senha</label>
                            <input type="password" class="form-control" name="password" id="password" required placeholder="Digite sua senha">
                        </div>
                    </div>
                    <!-- Botão Enviar -->
                    <div class="col-md-6 mb-3">
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </form>
                <div id="alertSave" class="alert d-none mt-3" role="alert"></div>
            </div>
        </section>
        <section class="mt-5">
            <div class="container mt-5">
                <h1>Buscar</h1>
                <form id="userLogin" class="row p-5 bg-light">
                    <div class="col-md-6 mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" name="email" id="email" required  placeholder="Digite seu e-mail">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="password" class="form-label">Senha</label>
                        <input type="password" class="form-control" name="password" id="password" required placeholder="Digite sua senha">
                    </div>

                    <!-- Botão Enviar -->
                    <div class="col-md-6 mb-3">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
                <div id="alertLogin" class="alert d-none mt-3" role="alert"></div>
            </div>
        </section>

        <section class="mt-5">
            <div class="container mt-5">
                <h1>Delete</h1>
                <form id="userDelete" class="row p-5 bg-light">
                    <div class="col-md-6 mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" name="email" id="email" required  placeholder="Digite seu e-mail">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="password" class="form-label">Senha</label>
                        <input type="password" class="form-control" name="password" id="password" required placeholder="Digite sua senha">
                    </div>

                    <!-- Botão Enviar -->
                    <div class="col-md-6 mb-3">
                        <button type="submit" class="btn btn-danger">Enviar</button>
                    </div>
                </form>
                <div id="alertDelete" class="alert d-none mt-3" role="alert"></div>
            </div>
        </section>
        <section class="mt-5">
            <div class="container mt-5">
                <h1>Update</h1>
                <form id="userUpdate" class="row p-5 bg-light">
                    <div class="col-12 mb-3">
                        <h4>Dados Atuais</h4>
                    </div>
                    <!-- Campo Username -->
                    <div class="col-md-6 mb-3">
                        <label for="email" class="form-label">E-mail atual</label>
                        <input type="email" class="form-control" name="email" id="email" required  placeholder="Digite seu e-mail">
                    </div>
                    <!-- Campo Senha -->
                    <div class="col-md-6 mb-3">
                        <label for="password" class="form-label">Senha atual</label>
                        <input type="password" class="form-control" name="password" id="password" required placeholder="Digite sua senha">
                    </div>

                    <div class="col-12 mb-3">
                        <hr>
                    </div>
                    <div class="col-12 mb-3">
                        <h4>Novos Dados</h4>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="nome" class="form-label">Novo nome</label>
                            <input type="text" class="form-control" name="newname" id="name" required placeholder="Digite seu nome">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="email" class="form-label">Novo e-mail</label>
                            <input type="email" class="form-control" name="newemail" id="email" required  placeholder="Digite seu e-mail">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="password" class="form-label">Novo senha</label>
                            <input type="password" class="form-control" name="newpassword" id="password" required placeholder="Digite sua senha">
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <button type="submit" class="btn btn-warning">Enviar</button>
                    </div>
                </form>
                <div id="alertUpdate" class="alert d-none mt-3" role="alert"></div>
            </div>
        </section>
    </main>

    <footer class="bg-primary text-white py-4 mt-5">
        <div class="container text-center">
            <p class="medium">&copy; 2024 Meu Site. Todos os direitos reservados.</p>
        </div>
    </footer>
    
    <script>
        function rawToObjToJson(event){
            const formData = new FormData(event.target);
            const data = Object.fromEntries(formData.entries());
            return JSON.stringify(data);
        }
        document.getElementById('userSave').addEventListener('submit', async (event) => {
            event.preventDefault();

            const alertElement = document.getElementById('alertSave');
            alertElement.classList.remove('d-none');
            try {
                const response = await fetch('/api/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: rawToObjToJson(event) // Envia os dados como JSON
                });

                //Alerta em baixo do formulario
                const result = await response.json();
                if (!response.ok) {
                    alertElement.classList.add('alert-danger');
                    alertElement.classList.remove('alert-success');
                    alertElement.textContent = result.message;
                }else{
                    alertElement.classList.add('alert-success');
                    alertElement.classList.remove('alert-danger');
                    alertElement.textContent = result.message;
                }

            } catch (error) {
                alertElement.textContent = 'Algo deu errado. Tente novamente.';
            }
        });
        document.getElementById('userDelete').addEventListener('submit', async (event) => {
            event.preventDefault();

            const alertElement = document.getElementById('alertDelete');
            alertElement.classList.remove('d-none');
            try {
                const response = await fetch('/api/delete', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: rawToObjToJson(event) // Envia os dados como JSON
                });

                //Alerta em baixo do formulario
                const result = await response.json();
                if (!response.ok) {
                    alertElement.classList.add('alert-danger');
                    alertElement.classList.remove('alert-success');
                    alertElement.textContent = result.message;
                }else{
                    alertElement.classList.add('alert-success');
                    alertElement.classList.remove('alert-danger');
                    alertElement.textContent = result.message;
                }

            } catch (error) {
                alertElement.textContent = 'Algo deu errado. Tente novamente.';
            }
        });
        document.getElementById('userUpdate').addEventListener('submit', async (event) => {
            event.preventDefault();

            const alertElement = document.getElementById('alertUpdate');
            alertElement.classList.remove('d-none');
            try {
                const response = await fetch('/api/update', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: rawToObjToJson(event) // Envia os dados como JSON
                });

                //Alerta em baixo do formulario
                const result = await response.json();
                if (!response.ok) {
                    alertElement.classList.add('alert-danger');
                    alertElement.classList.remove('alert-success');
                    alertElement.textContent = result.message;
                }else{
                    alertElement.classList.add('alert-success');
                    alertElement.classList.remove('alert-danger');
                    alertElement.textContent = result.message;
                }

            } catch (error) {
                alertElement.textContent = 'Algo deu errado. Tente novamente.';
            }
        });
        document.getElementById('userLogin').addEventListener('submit', async (event) => {
            event.preventDefault();
            
            const alertElement = document.getElementById('alertLogin');
            alertElement.classList.remove('d-none');
            try {
                const response = await fetch('/api/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: rawToObjToJson(event) // Envia os dados como JSON
                });

                //Alerta em baixo do formulario
                const result = await response.json();
                if (!response.ok) {
                    alertElement.classList.add('alert-danger');
                    alertElement.classList.remove('alert-success');
                    alertElement.textContent = result.message;
                }else{
                    alertElement.classList.add('alert-success');
                    alertElement.classList.remove('alert-danger');
                    alertElement.textContent = result.message;
                }

            } catch (error) {
                alertElement.textContent = 'Algo deu errado. Tente novamente.';
            }
        });
    </script>
    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>